
*{padding:0;margin:0;}

#menu {position:sticky;top:5px;background:greenyellow;}

.nav > li{
  position:relative;
  display:inline-block;
  padding:5px;
  margin-right:10px;
  border: 1px solid black;
  background-color: white;  
}

.nav ul{
  position:absolute;
  display:none;  
  top:30px;
  background-color:white;
}
.nav ul a{
  white-space: nowrap;
}
.nav li: hover ul {
  display:block;
}

/*marcar recuadros en el menu*/

/*nav{position:sticky;top:10px}
li{display:inline-block;
    margin-right:10px;
    border:1px solid black;
    padding:5px;
    position:relative;
    }

/* quitar subrayado de los enlaces*/
a{text-decoration:none}

li:hover{top:-5px}   

ul,ul li{margin:0;padding:0;list-style:none}

* {
  box-sizing: border-box;
}
.row{border:1px solid red;}
.row::after {
  content: "";
  clear: both;
  display: table;
 
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  border:1px solid red;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



.clear{clear:both}

img{border:none}

#contenedor{
	width:90%;
	max-width:900px;
	width: 90%;
	margin:0 auto;}

#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie{
	border:2px solid #777}

#cabecera{clear:both}

#menu{clear:both}

#lateral{float:left;width:20%}

#contenido{float:right;width:78%}

#contenido, #principal{float:left;width:78%}

#contenido #secundario{float:right;width:20%}

#pie{clear:both}

#cabecera #logo{float:left}

#cabecera #buscador{float:right}

#menu ul#menu_principal li{display:inline;float:left}

#contenido #principal .articulo img{width:100px;float:left}

#pie .enlaces{float:left}
#pie .copyright{float:right}

#cabecera, #contenido, #menu, #lateral, #contenido #principal, #contenido #secundario, #lateral #noticias, #lateral #publicidad, #pie {
  padding: .5em;
}

#menu {
  margin-bottom: .5em;
}

#lateral {
  padding: 0;
}

#cabecera {
  padding: 1em;
}

#contenido {
  width: 76%;
  padding: 0;
}

#contenido #principal {
  width: 74%;
}

#contenido #principal .articulo {
  margin-bottom: 1em;
}

#contenido #principal .articulo img {
  margin: .5em;
}

#lateral #publicidad {
  margin-top: 1em;
}

#pie {
  padding: .5em 0;
  margin-top: 1em;
}




